	<!-- About Section -->
    <section id="about">
        <div class="container">
          <div class="row">
                <br>
                <div class="col-lg-12 text-center">
                    <h2 style="color: #312D2D;">About</h2>
                    <p style="color: #312D2D;">The Open Professionals Education Network (OPEN) provides free support and technical assistance to all grantees of the $2 billion Trade Adjustment Assistance Community College & Career Training (TAACCCT) grant program from the U.S. Department of Labor. These profiles were developed as an activity to promote awareness of successful career and technical training programs using Open Educational Resources (OER) to strengthen America's workforce.
                    <br>
                    <br>
                    <p>Below are categories for which successful projects were recommended as standouts during the TAACCCT-ON! Showcase Fair.</p>
                </div>
            </div>
          <div class="row">
            <div class="green-bar-container">
              <h3 class="text-center">U.S. DOL Priorities</h3>
              <p class="text-center">TAACCCT was designed to support partnerships between community colleges and employers to build training programs that meet the needs of growing industries and construct career pathways for unemployed, underemployed and dislocated workers.</p>
    				</div>
            <div class="col-sm-3">
              <i class="icon icon-rabbit">A rabbit representing quick progress.</i>
    				  <p class="text-center">Accelerated Progress</p>
            </div>
    				<div class="col-sm-3">
              <i class="icon icon-compass">A compass representing guidance.</i>
    				  <p class="text-center">Career Pathway Guidance</p>
            </div>
    				<div class="col-sm-3">
              <i class="icon icon-hand">A handshake representing support.</i>
              <p class="text-center">Student Support + Retention</p>
            </div>
    				<div class="col-sm-3">
              <i class="icon icon-brain">A cursor on a human brain representing learning online.</i>
    				  <p class="text-center">Technology + Online Learning</p>
            </div>
    			</div>

  				<div class="row">
            <div class="green-bar-container">
  				    <h3 class="text-center">Industry Training Sectors</h3>
  				    <p class="text-center">TAACCCT projects focus on workforce training to prepare workers for high-wage, high-skill occupations in the sectors below.</p>
            </div>

    				<div class="col-sm-4">
              <i class="icon icon-lightning">A lightning bolt representing energy.</i>
    				  <p class="text-center same-height">Energy Technology</p>
            </div>
    				<div class="col-sm-4">
              <i class="icon icon-gear">Gears representing manufacturing.</i>
    				  <p class="text-center same-height">Advanced Manufacturing</p>
            </div>
    				<div class="col-sm-4">
              <i class="icon icon-world">A globe with a westerly-facing arrow representing transport.</i>
    				  <p class="text-center same-height">Transportation</p>
            </div>
    				<div class="col-sm-4 col-sm-offset-2">
              <i class="icon icon-computer">A computer representing information technology.</i>
    				  <p class="text-center same-height">Information Technology</p>
            </div>
    				<div class="col-sm-4">
              <i class="icon icon-health">A health cross.</i>
    				  <p class="text-center same-height">Healthcare</p>
            </div>
          </div>
            <br>
            <div class="col-lg-12 text-center">
              <p>For information about TAACCCT, visit <a href="http://www.doleta.gov/taaccct">www.doleta.gov/taaccct.</a></p>
              <br>
              <p>To find out more about OPEN or about Creative Commons, visit <a href="http://open4us.org/">www.open4us.org</a> and <a href="http://creativecommons.org/">www.creativecommons.org</a></p>
              <br> 
            <div style="margin: 0 auto;"><a href="http://open4us.org/"><img src="img/open-logo-sm.png" style="padding-right: 40px"></a><a href="http://creativecommons.org/"><img src="img/cc-logo-207.png"></a>
            </div>
            <br>
            <br>
            <br>
          </div>
        </div>
    </section>
