  <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-sm-12">
                      <h3>Credits</h3>
                      <div class="col-sm-4">
                        <h4>Design</h4>
                        <p>
                                Concept: Paul Stacey <br>

                                Lead: Billy Meinke <br>

                                Written pieces: Hal Plotkin<br>

                                Graphics: Giulia Forsythe<br>

                      </p>
                      <hr />
                      <p>
                        <strong>Icons from the <a href="http://nounproject.com">Noun Project</a> licensed CC BY 3.0</strong> or in the Public Domain</strong>.
                      </p>
                    </div>
                    <div class="footer-col col-sm-4">
                      <h4>Icons</h4>
                      <p>
                        Graphic design and Movie by Anna Weiss<br />
                        Book by Simple Icons<br />
                        E Learning designed by Attilio Baghin<br />
                        Compass designed by P.J. Onori<br />
                        Rabbit designed by Samuel Fine<br />
                        Computer designed by Matthew Hawdon<br />
                        Energy designed by Volodin Anton<br />
                        Hand Shake designed by Hakan Yalcin<br />
                        Share designed by Karl Schaeffler<br />
                      </p>
                    </div>

                <div class="footer-col col-sm-4">
                    <h4>Social</h4>
                    <ul class="list-inline">
                      <li>
                          <a href="http://twitter.com/open4us" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                      </li>
                    </ul>
                    <hr />
                    <p>This work made possible through support from the Bill & Melinda Gates Foundation.</p>
                    <br><a href="http://www.gatesfoundation.org/" class="gates"><img src="img/logo-gates.png"></a></p>
                </div>

                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.                    </div>
                </div>
            </div>
        </div>
    </footer>
