
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">

            <div class="row">

            <br>
              <h2>Standout Projects</h2>
              <p class="text-center">Click on a project to view more.</p>
              <br>
              {% for post in site.posts %}
                  <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal-{{ post.modal-id }}" id="portfolioModal-{{ post.modal-id }}-link" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                        <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                      </div>
                      <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                      <h3 class="subtitle">{{ post.project-name }}</h3>
                      <p class="blurb">
                        {% for section in post.descriptions %}
                          {% if forloop.index == 1 %}
                            {{ section.content | truncatewords: 15 }}
                          {% endif %}
                        {% endfor %}
                      </p>
                    </a>
                  </div>
              {% endfor %}

            </div>

        </div>
    </section>
